<%= link_to car_path(car), class: "col" do %>
  <div class="card h-100">
    <%= image_tag car.photo.url, class: "card-img-top", alt: car.model, height: 225, style: "object-fit: cover;" %>
    <div class="card-body">
      <h5 class="card-title fw-bolder"><%= car.model %></h5>
      <p class="card-text">Owner: <%= car.user.full_name %></p>
    </div>
  </div>
<% end %>
