<div class="row justify-content-center mt-5">
  <div class="d-flex px-0 justify-content-between align-items-center col-12 col-sm-8 col-md-6 col-lg-4 px-4 px-sm-0">
    <h1>Edit booking</h1>
    <%= link_to "Back to list", bookings_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
<div class="row justify-content-center my-3">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <%= render "bookings/partial/form", models: [@booking] %>
  </div>
</div>
