
<div class="footer">
  <div class="container">
    <span>
      &copy; <%= Time.new.year %> All rights reserved
    </span>
    <span>
      This website is made with <i class="fas fa-heart"></i> by Rent-a-Car
    </span>
  </div>
</div>
