.footer {
  background: #fff;
  height: 100px;
  padding: 20px 0;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
}
.footer .fa-heart {
  color: #D23333;
}

[data-bs-theme="dark"] .footer {
  background: #353738;
  color: lightgray;
}
