<div class="container my-5">
  <% if @show_my_cars %>
    <div class="mb-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>My cars</h2>
        <%= link_to "New car", new_car_path(@car), class: "btn btn-primary" %>
      </div>
      <%= render "cars/partial/card_grid", cars: @my_cars %>
    </div>
  <% end %>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>All cars</h2>
    <%= link_to "New car", new_car_path(@car), class: "btn btn-primary" unless @show_my_cars %>
  </div>
  <% if @cars.empty? %>
    <div>No cars yet</div>
  <% else %>
    <%= render "cars/partial/card_grid", cars: @cars %>
  <% end %>
</div>
